.image{
    width: 200px;
    height: 200px;
}

.card{
    width: 250px;
    height: 370px;
    box-shadow: 1px 4px 3px lightgrey;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
}

.card:hover{
    box-shadow: 1px 4px 3px rgb(105, 105, 105);
    transition: all 0.4s;
    transform: translateY(2px);
    cursor: pointer;
}

.detail-button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(87, 87, 87) ;
    color: #fff;
}

.detail-button:hover{
cursor: pointer;
background-color: rgb(235, 170, 30);
color: black;
}
